@import 'theme-colors';
.app-background {
    background-color: var(--app-background-color);
  }
  
  .dynamic-title {
    color: var(--dynamic-title-color);
  }
  
  .dynamic-subtitle {
    color: var(--dynamic-subtitle-color);
    padding-top: 10px;
  }