@import 'theme-colors';
  .app-background {
    background-color: var(--app-background-color);
  }
  .nav-background {
    background-color: var(--app-background-color);
  }
  .header {
    color: var(--dynamic-title-color);
  }

